* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Papyrus;
  src: url(../fonts/papyrus.ttf);
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: #d3a561;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

h1,
h2,
p, li, div {
  font-family: Papyrus;
  font-weight: bold;
}

button {
  font-size: 1.5rem;
  font-family: Papyrus;
  font-weight: bold;
  height: 45px;
  width: 100px;
  border: 2.5px solid black;
  border-radius: 10px;
  background-color: #c4aba9;
  
}

.hide {
  display: none;
}


#start-screen p {
  padding: 5px;
}

#game-screen {
  text-align: left;
  overflow: hidden;
  background-image: url(../Images/caveNew.png);
  background-size: cover;
  animation: slide 30s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 1500px 0;
  }
 
  100% {
    background-position: 0 0px;
  }
}

#lives-container {
  width: auto;
  padding: 5px;
}

#lives-container {
  font-family: Papyrus;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  padding-left: 25px;
}

#score-container {
  width: auto;
  padding: 5px;
  font-family: Papyrus;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  padding-left: 25px;
}

#gameOver-screen { 
  align-items: center;
}


#life1,
#life2,
#life3 {
  padding-top: 10px;
  padding-left: 10px;
  height: 50px;
  width: 50px;
}

#keys {
  height: 300px;
  padding-bottom: 50px;
}

#instructions {
  padding-bottom: 0;
}

#wasd {
  height: 350px;
  width: 250px;
}

.lost {
  margin: 50px
}

#currentScore {
  font-family: 3.5rem;
}

ol li{
  padding-left: 0;
  font-size: 2rem;
}

.rotate {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  
}